h1,h2{
    font-size: 40px;
    text-align: center;
}
#box1{
    
}

img{
    border-image: 3px dotted #EAD8B1;
}
body {
    background-color: #F5F5F5;
    color: #333333;
}

* {
    background-color: #1F3A93;
    color: #FFFFFF;
}

#box1{
    color: #00BFFF;
}

.card {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
}

.footer {
    background-color: #C0C0C0;
    color: #1F3A93;
}
#box1{

}